<!DOCTYPE html>
<html>
	<head>
		<title>Home</title>
	</head>
	<body>
		<header>
			<div class="container">
				<div id="brandname">
					<h2 align="center">Linear Regression Home Pricing</h2>
				</div>
				<hr />
				<br />
				<h2 align="center">Home Price Prediction</h2>
			</div>
		</header>

		<div class="ml-container" align="center">
			<form action="{{ url_for('predict')}}" method="POST">
				<p>Enter amount of Rooms</p>
				<!-- <input type="text" name="comment"/> -->
				<input type="number" name="message" rows="4" cols="60"></input>
				<br />
				<br />
				<input type="submit" class="btn-info" value="predict" />
			</form>
		</div>
	</body>
</html>
